<h1>Users#signup</h1>
<p>Find me in app/views/users/signup.html.erb</p>

— SIGNUP FORM —

Form: First Name
Form: Last Name
Form: Phone #
Form: Email
Form: Password
Form: Submit

[Login Link]

[About Link]