 <!-- <div class="overlow-hidden"> -->


    <div class="container text-center text-white">
      <div >
        <img class="logo-image-sm" src="<%= asset_path('rezqlogo.png') %>" alt="">
      </div>
      <h2 class="border-line">About Us</h2>
      <div class="container text-center">
        <p>RezQ was built as a student group project for General Assembly - San Francisco. The Web Technologies used are: HTML, CSS, JavaScript, Ruby, Ruby on Rails and a lot of deeply formulated, top-secret algorithms.</p>
        <br>
        <h2>Creators</h2>
        <div class="profile-img brent"></div>  
        <h4>Brent <br><small>Back-End Developer</small></h4>
        <p>Gastropub Echo Park photo booth next level, quinoa crucifix mlkshk hashtag Williamsburg locavore narwhal salvia normcore. Small batch iPhone sriracha, plaid mumblecore tilde cred kale chips hashtag ugh roof party. Single-origin coffee ethical bespoke, fanny pack narwhal messenger bag Vice skateboard pickled Schlitz Thundercats. Vegan lo-fi irony, Truffaut Brooklyn shabby chic keffiyeh Echo Park bespoke art party flannel authentic Thundercats Carles Tumblr. Distillery small batch McSweeney's chillwave cold-pressed +1.</p><br><br>
        <div class="profile-img colin"></div>
        <h4>Colin <br><small>Front-End Developer</small></h4>
        <p>Gastropub Echo Park photo booth next level, quinoa crucifix mlkshk hashtag Williamsburg locavore narwhal salvia normcore. Small batch iPhone sriracha, plaid mumblecore tilde cred kale chips hashtag ugh roof party. Single-origin coffee ethical bespoke, fanny pack narwhal messenger bag Vice skateboard pickled Schlitz Thundercats. Vegan lo-fi irony, Truffaut Brooklyn shabby chic keffiyeh Echo Park bespoke art party flannel authentic Thundercats Carles Tumblr. Distillery small batch McSweeney's chillwave cold-pressed +1.</p><br><br>
        <div class="profile-img george"></div>
        <h4>George <br><small>Back-End Developer</small></h4>
        <p>Gastropub Echo Park photo booth next level, quinoa crucifix mlkshk hashtag Williamsburg locavore narwhal salvia normcore. Small batch iPhone sriracha, plaid mumblecore tilde cred kale chips hashtag ugh roof party. Single-origin coffee ethical bespoke, fanny pack narwhal messenger bag Vice skateboard pickled Schlitz Thundercats. Vegan lo-fi irony, Truffaut Brooklyn shabby chic keffiyeh Echo Park bespoke art party flannel authentic Thundercats Carles Tumblr. Distillery small batch McSweeney's chillwave cold-pressed +1.</p><br><br>
</div>
<br><br><br><br><br><br><br><br>
</div>

